.home-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  /* height: 100%; */
  padding: 20px;
  padding-top: 10px;
}

.home-main-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 8vw;
  padding-top: clamp(100px, 5vw, 40px);
  padding-bottom: clamp(100px, 5vw, 40px);
  width: 100%;
  position: relative;
  border-top-left-radius: 120px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.home-main-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    135deg,
    #c9e4ca,
    #87bba2,
    #55828b,
    #3b6064,
    #364958
  );
  opacity: 0.5; /* Semi-transparent background */
  border-top-left-radius: 120px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 0;
}

/* Login button styles */
.home-login-button {
  /* display: none; */
  /* margin-left: auto;
  margin-right: 10px; */
  margin-left: calc(50vw - 29.225px);
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(27, 216, 134, 0.2);
  padding-right: 6px;
  padding-left: 6px;
}

.home-login-button:hover {
  background-color: rgba(53, 252, 146, 0.5);
}

.home-login-button:hover:active {
  filter: brightness(0.5) contrast(1.2);
}
