/* Normalize.css import */
@import "normalize.css";

/* Navbar container styles */
.navbar-container {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 76px;
  width: calc(100% - 170px);
  box-sizing: border-box;
  background: radial-gradient(ellipse, #c9e4ca, #55828b);
  background-blend-mode: overlay;
  border: thick double white;
  border-radius: 20px;
  animation: backgroundChange 8s ease-in-out infinite;
  z-index: 1;
  transition: margin-left 0.5s ease;
  margin-left: 170px;
}

@media (max-width: 768px) {
  .navbar-container {
    width: calc(100% - 115px);
    margin-left: 115px;
    position: static;
  }
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar-addproject {
  color: red;
  font-weight: bold;
  margin-left: 10px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(27, 216, 134, 0.2);
  white-space: normal;
  text-align: center;
  width: 67px;
  padding: 5px;
}

.navbar-addproject:hover {
  background-color: rgba(53, 252, 146, 0.5);
}

.navbar-addproject:hover:active {
  filter: brightness(0.5) contrast(1.2);
}

/* Links container styles */
.navbar-links-container {
  display: flex;
  gap: 20px;
  position: absolute;
  margin-left: -180px;
  left: 50%;
}

.navbar-links-container > * {
  text-decoration: none;
}

.navbar-link-button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
}

.navbar-link-icon {
  height: 50px;
}

.navbar-link-button:hover {
  background-color: rgba(53, 252, 146, 0.5);
}

.navbar-link-button:active {
  filter: brightness(0.5) contrast(1.2);
}

@media (max-width: 768px) {
  .navbar-container {
    justify-content: flex-end;
  }

  .hamburger-menu {
    display: block;
    margin: 0;
    margin-right: 10px;
  }

  .navbar-links-container {
    display: none;
  }

  .navbar-links-container.open {
    display: flex;
    flex-direction: column;
    width: 150px;
    top: 76px;
    right: 1px;
    padding: 10px;
    margin-left: auto;
    background: radial-gradient(ellipse, #c9e4ca, #55828b);
    background-blend-mode: overlay;
    border: thick double white;
    border-radius: 20px;
    animation: backgroundChange 8s ease-in-out infinite;
    z-index: 2;
  }

  .navbar-addproject {
    display: none;
  }
}

/* Login button styles */
.navbar-login-button {
  margin-left: auto;
  margin-right: 10px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(27, 216, 134, 0.2);
}

.navbar-login-button:hover {
  background-color: rgba(53, 252, 146, 0.5);
}

.navbar-login-button:hover:active {
  filter: brightness(0.5) contrast(1.2);
}

/* Background change animation */
@keyframes backgroundChange {
  0%,
  50%,
  100% {
    background-color: #89bba5;
  }
  25%,
  75% {
    background-color: #bbe6ce;
  }
}
